:root {
  --primaryGrn: #21AD4A;
  --primaryGrey: #B8BBC2;
  --navDarkGrey: #343A40;
  --fontColour: #ebeeea;
}



body{
    background-color: var(--primaryGrey);
    
}


/* When a link is selected it wont just jump to the section it will smoothly transition there */
html{
	scroll-behavior: smooth;
}


/* Nav Bar */

img.csslogo{
    max-width: 100px;
}



/* End of Nav Bar */

/* Home section */


.homeHeadingdiv{
    background: none;
    background-color: var(--primaryGrn);
}

.homeJumbotronText{
    color: var(--fontColour);
    text-align: center;
}

p.homeJumbotronPara{
    font-size: 1.8rem;
}

h1.homeJumbotronHeader{
    font-size: 4rem;
}

div.videoDesc{

    text-align: justify;
    margin-bottom: 40px;
}

div.videoDesc p{
    text-indent: 40px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #343A40;
}

.card{
    background-color: #707070;
    margin-bottom: 10px;
}

div.videoTitle h1{
    text-align: center;
    color: var(--fontColour);
    margin-bottom: 30px;
}

.homeVideo{
    box-shadow: 0px 0px 8px 15px rgb(36, 36, 36);
    margin-bottom: 20px;
}

.card{
    margin-bottom: 40px;
}

/* Shop Section */

.shopSection{
    background-color: #707070;
}

.sectionHeaders{
    font-size: 3rem;
    color: var(--primaryGrn);
    text-align: center;
    margin-bottom: 50px;
}

.shopCards{
    display: block;
    margin: auto;
    margin-bottom: 35px;
    background-color: #c7c3c3; 
    transition: background-color 1s ease-out;
}

.shopCards:hover{
    background-color: white;
}

.responsiveCard{
    width: 18rem;
}

.cardPrice{
    text-align: center;
}

.cardPara{
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
    line-height: 35px;
}

.iconCheck{
    color: green;
}

.iconX{
    color: red;
}


span.savings{
    color: green;
}

span.spanTaxMonthly{
    font-size: 1rem;
    margin-left: -10px;
}

span.spanTaxYearly{
    font-size: 1rem;
}

button.shopBtn{
    text-align: center;
    display: block;
    margin: auto;
}

h5.modalBodyTitle{
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}


div.modal-body{
    text-align: center;
}

hr{
        height: 2px;
        background-color: black;
        border: none;
        margin: 40px 0;
}



/* About Section*/
.accordion{
    width: 80%;
    margin: auto;
}

div p.aboutDesctiption{
    font-size: 2rem;
    text-align: center;
    color: var(--navDarkGrey);
    margin: 0px 90px 50px 90px;
}

.aboutSensors{
    background-color: var(--primaryGrn);
}

.sensorImg{
    border: 3px solid black;
    display: block;
    margin: auto;
}

.reviewImg{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 15px;
}


.reviewCards{
    margin: auto;
    margin-bottom: 40px;
    color: #cfcfcf;
    background-color: #707070;
}


.fa-star, .fa-star-half-alt{
    margin-bottom: 10px;
    color: gold;
}


/* Contact */
.contactDiv{
    display: block;
    margin: auto;
    text-align: center;
}


h1.contactH1{
    color: black;
}

h2.contactH2{
    color: rgb(31, 32, 31);
}

/* Footer */
.footDiv{
    /* display: inline-block; */
    /* width: 100%; */
    text-align: center; 
}

.footIcon{
    color: white;
    margin: 10px;   
}

p.footerPara{
    color: white;
}






div.btTop a{
    position: relative;
    left: 10px;
    top: 10px;
    text-decoration: none;
}


/* Media Query*/
@media only screen and (max-width: 580px) {

li a{
        text-align: center;
}


}

@media only screen and (max-width: 768px) {
.responsiveCard{
    width: 18rem;
}

div p.aboutDesctiption{
    font-size: 2rem;
    text-align: center;
    color: #707070;
    margin: 0;
    margin-bottom: 60px;
}

.mlxImg{
    max-width: 250px;
    display: block;
    margin: auto;
}



}
@media only screen and (max-width: 1100px) {
.responsiveCard{
    width: 14.9rem;
}

.reviewPanels{
    width: 370px;

}

}



